# Binaries
MacPilot
bin/

# Go
go.sum
vendor/
*.test

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Project Specific
logs/
*.log
backups/
config/settings.toml
config/*.bak
config/settings.toml.local
